.gradle/
build/
/captures
*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
.DS_Store
/externalNativeBuild
.cxx/
*.log
*.apk
*.ap_
*.aab

# 签名文件（敏感，不上传）
*.keystore
*.jks

# 构建缓存
**/build/

# 系统文件
Thumbs.db