.gradle/
build/
/captures
*.iml
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
local.properties
.DS_Store
/externalNativeBuild
.cxx/
*.log
*.apk
*.ap_
*.aab
*.keystore
*.jks
**/build/
Thumbs.db
